/*
to change this license header, choose license headers in project properties.
to change this template file, choose tools | templates
and open the template in the editor.
*/
/* 
    Created on : 2014-3-16, 17:13:21
    Author     : auioh413
*/

.bg-aliceblue {background-color:#F0F8FF;}
.bg-antiquewhite {background-color:#FAEBD7;}
.bg-aqua {background-color:#00FFFF;}
.bg-aquamarine {background-color:#7FFFD4;}
.bg-azure {background-color:#F0FFFF;}
.bg-beige {background-color:#F5F5DC;}
.bg-bisque {background-color:#FFE4C4;}
.bg-black {background-color:#000000;}
.bg-blanchedblmond {background-color:#FFEBCD;}
.bg-blue {background-color:#0000FF;}
.bg-blueviolet {background-color:#8A2BE2;}
.bg-brown {background-color:#A52A2A;}
.bg-burlywood {background-color:#DEB887;}
.bg-cadetblue {background-color:#5F9EA0;}
.bg-chartreuse {background-color:#7FFF00;}
.bg-chocolate {background-color:#D2691E;}
.bg-coral {background-color:#FF7F50;}
.bg-cornflowerblue {background-color:#6495ED;}
.bg-cornsilk {background-color:#FFF8DC;}
.bg-crimson {background-color:#DC143C;}
.bg-cyan {background-color:#00FFFF;}
.bg-darkblue {background-color:#00008B;}
.bg-darkcyan {background-color:#008B8B;}
.bg-darkgoldenrod {background-color:#B8860B;}
.bg-darkgray {background-color:#A9A9A9;}
.bg-darkgreen {background-color:#006400;}
.bg-darkkhaki {background-color:#BDB76B;}
.bg-darkmagenta {background-color:#8B008B;}
.bg-darkolivegreen {background-color:#556B2F;}
.bg-darkorange {background-color:#FF8C00;}
.bg-darkorchid {background-color:#9932CC;}
.bg-darkred {background-color:#8B0000;}
.bg-darksalmon {background-color:#E9967A;}
.bg-darkseagreen {background-color:#8FBC8F;}
.bg-darkslateblue {background-color:#483D8B;}
.bg-darkslategray {background-color:#2F4F4F;}
.bg-darkturquoise {background-color:#00CED1;}
.bg-darkviolet {background-color:#9400D3;}
.bg-deeppink {background-color:#FF1493;}
.bg-deepskyblue {background-color:#00BFFF;}
.bg-dimgray {background-color:#696969;}
.bg-dodgerblue {background-color:#1E90FF;}
.bg-feldspar {background-color:#D19275;}
.bg-firebrick {background-color:#B22222;}
.bg-floralwhite {background-color:#FFFAF0;}
.bg-forestgreen {background-color:#228B22;}
.bg-fuchsia {background-color:#FF00FF;}
.bg-gainsboro {background-color:#DCDCDC;}
.bg-ghostwhite {background-color:#F8F8FF;}
.bg-gold {background-color:#FFD700;}
.bg-goldenrod {background-color:#DAA520;}
.bg-gray {background-color:#808080;color:#FFFFFF;}
.bg-green {background-color:#008000;}
.bg-greenyellow {background-color:#ADFF2F;}
.bg-honeydew {background-color:#F0FFF0;}
.bg-hotpink {background-color:#FF69B4;}
.bg-indianred {background-color:#CD5C5C;}
.bg-indigo {background-color:#4B0082;}
.bg-ivory {background-color:#FFFFF0;}
.bg-khaki {background-color:#F0E68C;}
.bg-lavender {background-color:#E6E6FA;}
.bg-lavenderblush {background-color:#FFF0F5;}
.bg-lawngreen {background-color:#7CFC00;}
.bg-lemonchiffon {background-color:#FFFACD;}
.bg-lightblue {background-color:#ADD8E6;}
.bg-lightCoral {background-color:#F08080;}
.bg-lightcyan {background-color:#E0FFFF;}
.bg-lightgoldenrodyellow {background-color:#FAFAD2;}
.bg-lightgrey {background-color:#D3D3D3;}
.bg-lightgreen {background-color:#90EE90;}
.bg-lightpink {background-color:#FFB6C1;}
.bg-lightsalmon {background-color:#FFA07A;}
.bg-lightseagreen {background-color:#20B2AA;}
.bg-lightskyblue {background-color:#87CEFA;}
.bg-lightslateblue {background-color:#8470FF;}
.bg-lightslategray {background-color:#778899;}
.bg-lightsteelblue {background-color:#B0C4DE;}
.bg-lightyellow {background-color:#FFFFE0;}
.bg-lime {background-color:#00FF00;}
.bg-limegreen {background-color:#32CD32;}
.bg-linen {background-color:#FAF0E6;}
.bg-magenta {background-color:#FF00FF;}
.bg-maroon {background-color:#800000;}
.bg-mediumaquamarine {background-color:#66CDAA;}
.bg-mediumblue {background-color:#0000CD;}
.bg-mediumorchid {background-color:#BA55D3;}
.bg-mediumpurple {background-color:#9370D8;}
.bg-mediumseagreen {background-color:#3CB371;}
.bg-mediumslateblue {background-color:#7B68EE;}
.bg-mediumspringgreen {background-color:#00FA9A;}
.bg-mediumturquoise {background-color:#48D1CC;}
.bg-mediumvioletred {background-color:#C71585;}
.bg-midnightblue {background-color:#191970;}
.bg-mintcream {background-color:#F5FFFA;}
.bg-mistyrose {background-color:#FFE4E1;}
.bg-moccasin {background-color:#FFE4B5;}
.bg-navajowhite {background-color:#FFDEAD;}
.bg-navy {background-color:#000080;}
.bg-oldlace {background-color:#FDF5E6;}
.bg-olive {background-color:#808000;}
.bg-olivedrab {background-color:#6B8E23;}
.bg-orange {background-color:#FFA500;}
.bg-orangered {background-color:#FF4500;}
.bg-orchid {background-color:#DA70D6;}
.bg-palegoldenrod {background-color:#EEE8AA;}
.bg-palegreen {background-color:#98FB98;}
.bg-paleturquoise {background-color:#AFEEEE;}
.bg-palevioletred {background-color:#D87093;}
.bg-papayawhip {background-color:#FFEFD5;}
.bg-peachpuff {background-color:#FFDAB9;}
.bg-peru {background-color:#CD853F;}
.bg-pink {background-color:#FFC0CB;}
.bg-plum {background-color:#DDA0DD;}
.bg-powderblue {background-color:#B0E0E6;}
.bg-purple {background-color:#800080;}
.bg-red {background-color:#FF0000;}
.bg-rosybrown {background-color:#BC8F8F;}
.bg-royalblue {background-color:#4169E1;}
.bg-saddlebrown {background-color:#8B4513;}
.bg-salmon {background-color:#FA8072;}
.bg-sandybrown {background-color:#F4A460;}
.bg-seagreen {background-color:#2E8B57;}
.bg-seashell {background-color:#FFF5EE;}
.bg-sienna {background-color:#A0522D;}
.bg-silver {background-color:#C0C0C0;}
.bg-skyblue {background-color:#87CEEB;}
.bg-slateblue {background-color:#6A5ACD;}
.bg-slategray {background-color:#708090;}
.bg-snow {background-color:#FFFAFA;}
.bg-springgreen {background-color:#00FF7F;}
.bg-steelblue {background-color:#4682B4;}
.bg-tan {background-color:#D2B48C;}
.bg-teal {background-color:#008080;}
.bg-thistle {background-color:#D8BFD8;}
.bg-tomato {background-color:#FF6347;}
.bg-turquoise {background-color:#40E0D0;}
.bg-violet {background-color:#EE82EE;}
.bg-violetred {background-color:#D02090;}
.bg-wheat {background-color:#F5DEB3;}
.bg-white {background-color:#FFFFFF;}
.bg-whitesmoke {background-color:#F5F5F5;}
.bg-yellow {background-color:#FFFF00;}
.bg-yellowgree {background-color:#9ACD32;}
.fg-aliceblue {background-color:#F0F8FF;}
.fg-antiquewhite {background-color:#FAEBD7;}
.fg-aqua {background-color:#00FFFF;}
.fg-aquamarine {background-color:#7FFFD4;}
.fg-azure {background-color:#F0FFFF;}
.fg-beige {background-color:#F5F5DC;}
.fg-bisque {background-color:#FFE4C4;}  	 
.fg-black {background-color:#000000;}  	 
.fg-blanchedblmond {background-color:#FFEBCD;}
.fg-blue {background-color:#0000FF;}
.fg-blueviolet {background-color:#8A2BE2;}
.fg-brown {background-color:#A52A2A;}
.fg-burlywood {background-color:#DEB887;}
.fg-cadetblue {background-color:#5F9EA0;}
.fg-chartreuse {background-color:#7FFF00;}
.fg-chocolate {background-color:#D2691E;}
.fg-coral {background-color:#FF7F50;}
.fg-cornflowerblue {background-color:#6495ED;}
.fg-cornsilk {background-color:#FFF8DC;}
.fg-crimson {background-color:#DC143C;}
.fg-cyan {background-color:#00FFFF;}
.fg-darkblue {background-color:#00008B;}
.fg-darkcyan {background-color:#008B8B;}
.fg-darkgoldenrod {background-color:#B8860B;}
.fg-darkgray {background-color:#A9A9A9;}
.fg-darkgreen {background-color:#006400;}
.fg-darkkhaki {background-color:#BDB76B;}
.fg-darkmagenta {background-color:#8B008B;}
.fg-darkolivegreen {background-color:#556B2F;}
.fg-darkorange {background-color:#FF8C00;}
.fg-darkorchid {background-color:#9932CC;}
.fg-darkred {background-color:#8B0000;}
.fg-darksalmon {background-color:#E9967A;}
.fg-darkseagreen {background-color:#8FBC8F;}
.fg-darkslateblue {background-color:#483D8B;}
.fg-darkslategray {background-color:#2F4F4F;}
.fg-darkturquoise {background-color:#00CED1;}
.fg-darkviolet {background-color:#9400D3;}
.fg-deeppink {background-color:#FF1493;}
.fg-deepskyblue {background-color:#00BFFF;}
.fg-dimgray {background-color:#696969;}
.fg-dodgerblue {background-color:#1E90FF;}
.fg-feldspar {background-color:#D19275;}
.fg-firebrick {background-color:#B22222;}
.fg-floralwhite {background-color:#FFFAF0;}
.fg-forestgreen {background-color:#228B22;}
.fg-fuchsia {background-color:#FF00FF;}
.fg-gainsboro {background-color:#DCDCDC;}
.fg-ghostwhite {background-color:#F8F8FF;}
.fg-gold {background-color:#FFD700;}
.fg-goldenrod {background-color:#DAA520;}
.fg-gray {background-color:#808080;color:#FFFFFF;}
.fg-green {background-color:#008000;}
.fg-greenyellow {background-color:#ADFF2F;}
.fg-honeydew {background-color:#F0FFF0;}
.fg-hotpink {background-color:#FF69B4;}
.fg-indianred {background-color:#CD5C5C;}
.fg-indigo {background-color:#4B0082;}
.fg-ivory {background-color:#FFFFF0;}
.fg-khaki {background-color:#F0E68C;}
.fg-lavender {background-color:#E6E6FA;}
.fg-lavenderblush {background-color:#FFF0F5;}
.fg-lawngreen {background-color:#7CFC00;}
.fg-lemonchiffon {background-color:#FFFACD;}
.fg-lightblue {background-color:#ADD8E6;}
.fg-lightCoral {background-color:#F08080;}
.fg-lightcyan {background-color:#E0FFFF;}
.fg-lightgoldenrodyellow {background-color:#FAFAD2;}
.fg-lightgrey {background-color:#D3D3D3;}
.fg-lightgreen {background-color:#90EE90;}
.fg-lightpink {background-color:#FFB6C1;}
.fg-lightsalmon {background-color:#FFA07A;}
.fg-lightseagreen {background-color:#20B2AA;}
.fg-lightskyblue {background-color:#87CEFA;}
.fg-lightslateblue {background-color:#8470FF;}
.fg-lightslategray {background-color:#778899;}
.fg-lightsteelblue {background-color:#B0C4DE;}
.fg-lightyellow {background-color:#FFFFE0;}
.fg-lime {background-color:#00FF00;}
.fg-limegreen {background-color:#32CD32;}
.fg-linen {background-color:#FAF0E6;}
.fg-magenta {background-color:#FF00FF;}
.fg-maroon {background-color:#800000;}
.fg-mediumaquamarine {background-color:#66CDAA;}
.fg-mediumblue {background-color:#0000CD;}
.fg-mediumorchid {background-color:#BA55D3;}
.fg-mediumpurple {background-color:#9370D8;}
.fg-mediumseagreen {background-color:#3CB371;}
.fg-mediumslateblue {background-color:#7B68EE;}
.fg-mediumspringgreen {background-color:#00FA9A;}
.fg-mediumturquoise {background-color:#48D1CC;}
.fg-mediumvioletred {background-color:#C71585;}
.fg-midnightblue {background-color:#191970;}
.fg-mintcream {background-color:#F5FFFA;}
.fg-mistyrose {background-color:#FFE4E1;}
.fg-moccasin {background-color:#FFE4B5;}
.fg-navajowhite {background-color:#FFDEAD;}
.fg-navy {background-color:#000080;}
.fg-oldlace {background-color:#FDF5E6;}
.fg-olive {background-color:#808000;}
.fg-olivedrab {background-color:#6B8E23;}
.fg-orange {background-color:#FFA500;}
.fg-orangered {background-color:#FF4500;}
.fg-orchid {background-color:#DA70D6;}
.fg-palegoldenrod {background-color:#EEE8AA;}
.fg-palegreen {background-color:#98FB98;}
.fg-paleturquoise {background-color:#AFEEEE;}
.fg-palevioletred {background-color:#D87093;}
.fg-papayawhip {background-color:#FFEFD5;}
.fg-peachpuff {background-color:#FFDAB9;}
.fg-peru {background-color:#CD853F;}
.fg-pink {background-color:#FFC0CB;}
.fg-plum {background-color:#DDA0DD;}
.fg-powderblue {background-color:#B0E0E6;}
.fg-purple {background-color:#800080;}
.fg-red {background-color:#FF0000;}
.fg-rosybrown {background-color:#BC8F8F;}
.fg-royalblue {background-color:#4169E1;}
.fg-saddlebrown {background-color:#8B4513;}
.fg-salmon {background-color:#FA8072;}
.fg-sandybrown {background-color:#F4A460;}
.fg-seagreen {background-color:#2E8B57;}
.fg-seashell {background-color:#FFF5EE;}
.fg-sienna {background-color:#A0522D;}
.fg-silver {background-color:#C0C0C0;}
.fg-skyblue {background-color:#87CEEB;}
.fg-slateblue {background-color:#6A5ACD;}
.fg-slategray {background-color:#708090;}
.fg-snow {background-color:#FFFAFA;}
.fg-springgreen {background-color:#00FF7F;}
.fg-steelblue {background-color:#4682B4;}
.fg-tan {background-color:#D2B48C;}
.fg-teal {background-color:#008080;}
.fg-thistle {background-color:#D8BFD8;}
.fg-tomato {background-color:#FF6347;}
.fg-turquoise {background-color:#40E0D0;}
.fg-violet {background-color:#EE82EE;}
.fg-violetred {background-color:#D02090;}
.fg-wheat {background-color:#F5DEB3;}
.fg-white {background-color:#FFFFFF;}
.fg-whitesmoke {background-color:#F5F5F5;}
.fg-yellow {background-color:#FFFF00;}
.fg-yellowgree {background-color:#9ACD32;}